*.log

.gradle
build
out
.DS_Store

.idea
*.iml

testing/conformance/runner/failing_tests.txt
protokt-codegen/src/test/resources/com/toasttab/protokt/v1/test-proto-bin-request.bin
node_modules/
package-lock.json
package.json
