version: 2.0
jobs:
  build:
    context: OSS
    working_directory: ~/code
    docker:
      - image: circleci/openjdk:11.0.3-jdk-stretch
    environment:
      JVM_OPTS: -Xmx3200m
    steps:
      - checkout
      - restore_cache:
          key: v1-gradle-wrapper-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
      - restore_cache:
          key: v1-gradle-cache-{{ checksum "build.gradle.kts" }}

      - run:
          name: build and test
          command: ./gradlew clean check publishToIntegrationRepository --stacktrace

      - run:
          name: integration tests
          command: cd gradle-plugin-integration-test && ./gradlew clean build --stacktrace

      - run:
            name: save test results
            command: |
              mkdir -p ~/test-results
              find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/test-results/ \;
            when: always
      
      - store_test_results:
            path: ~/test-results

      - save_cache:
          paths:
            - ~/.gradle/wrapper
          key: v1-gradle-wrapper-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
      - save_cache:
          paths:
            - ~/.gradle/caches
          key: v1-gradle-cache-{{ checksum "build.gradle.kts" }}

      - run: "[[ \"$CIRCLE_BRANCH\" == master ]] && ./gradlew publishToRemote || echo skipping publishing"
