version: 2
jobs:
  build:
    working_directory: ~/code
    docker:
      - image: circleci/openjdk:11.0.3-jdk-stretch
    environment:
      JVM_OPTS: -Xmx3200m
    steps:
      - checkout
      
      - run:
          name: build and test
          command: ./gradlew clean check publishToIntegrationRepository --stacktrace

      - run:
          name: integration tests
          command: cd gradle-plugin-integration-test && ./gradlew clean build --stacktrace

      - run:
            name: Save test results
            command: |
              mkdir -p ~/test-results/junit/
              find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/test-results/junit/ \;
            when: always
      
      - store_test_results:
            path: ~/test-results
