name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - uses: ./.github/actions/gradle-cache
    - name: Set up java
      uses: actions/setup-java@v5
      with:
        distribution: corretto
        java-version: 17
    - name: Set up js stuff
      run: npm install protobufjs@7.2.6 long@5.2.3
    - name: Build and test
      run: ./gradlew clean check publishToIntegrationRepository --stacktrace --no-daemon
    - uses: actions/upload-artifact@v5
      with:
        name: integration-repository
        path: build/repos/integration

  integration:
    needs: build
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
        kotlin: [ 2.1.21, 2.2.0 ]
        jdk: [ 17, 21 ]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - uses: ./.github/actions/gradle-cache
    - name: Set up java
      uses: actions/setup-java@v5
      with:
        distribution: corretto
        java-version: ${{ matrix.jdk }}
    - uses: actions/download-artifact@v6
      with:
        name: integration-repository
        path: build/repos/integration
    - uses: browser-actions/setup-firefox@v1
      id: firefox-install
    - name: Build and test
      env:
        FIREFOX_BIN: ${{steps.firefox-install.outputs.firefox-path}}
      run: ./gradlew "-Dkotlin-integration.version=${{ matrix.kotlin }}" clean build --stacktrace --no-daemon
      working-directory: gradle-plugin-integration-test
