name: Release

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - uses: ./.github/actions/gradle-cache
    - name: Set up java
      uses: actions/setup-java@v5
      with:
        distribution: corretto
        java-version: 17
    - name: Publish
      run: ./gradlew publishAllPublicationsToMavenCentral publishPlugins --no-configuration-cache --stacktrace --no-daemon
      env:
        PGP_KEY: ${{ secrets.PGP_KEY }}
        PGP_PASSWORD: ${{ secrets.PGP_PASSWORD }}
        ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.OSSRH_USERNAME }}
        ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.OSSRH_PASSWORD }}
        GRADLE_PORTAL_PUBLISH_KEY: ${{ secrets.GRADLE_PORTAL_PUBLISH_KEY }}
        GRADLE_PORTAL_PUBLISH_SECRET: ${{ secrets.GRADLE_PORTAL_PUBLISH_SECRET }}
        GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.internal.http.socketTimeout=120000 -Dorg.gradle.internal.network.retry.max.attempts=1 -Dorg.gradle.internal.publish.checksums.insecure=true"
